# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Capibara.iml
# Datasource local storage ignored files
/../../../../../../../:\Carrera de VideoJuegos\CositasHaciendose\Capibara\.idea\.idea.Capibara\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
